QLabel#back-arrow-label{
  margin-top: 8px;
  
}

QLabel#setting-label{
  font-size : 48px;
  color : #353535;
}

QFrame#setting-label-frame{
  background:transparent;
}

QFrame#divider-line{
  background-color: rgba(201, 201, 201, 1);
}

QFrame#list-frame
 { 
  
  background:transparent;
 
 }

QLabel#sub-label{
  margin-top:8px;
  font-size : 24px;
  color : #353535;

}

QLabel#normal-label{
  font-size:16px;
  font-family : ROBOTO;
  margin-top:8px;
}

QCheckBox#theme-checkbox{
  font-size:16px;
  font-family : ROBOTO;
  color : #353535;
  spacing : 10px;
  margin-top : 8px;
  padding-left : 2px;
}

QCheckBox#theme-checkbox::indicator{
  width : 14px;
  height : 14px;
  border-radius : 9px;
  border : 2px solid #A7A7A7;
  background : white;
}

QCheckBox#theme-checkbox::indicator:hover{
  border-color : #2196F3;
}

QCheckBox#theme-checkbox::indicator:checked{
  background : #000000;
  border-color : #2196F3;
  border-width : 3px;
  image : url(./assets/tick.png);
}

QCheckBox#theme-checkbox::indicator:disabled{
  background : #eee;
  border-color : #ccc;
}